a:link{
color:#000000;
}
a:visited{
color:#C6E33A;
}
a:active{
color:#FFC13C;
}
body{
color:#FFFFFF;
background-color:#D07000;
}
h1{
color:#FFFFFF;
}
h2,marquee{
color:#FFFFFF;
}
h3{
color:#FFFFFF;
}
h4{
color:#FFFFFF;
}
h5{
color:#FFFFFF;
}
h6{
color:#FFFFFF;
}
LABEL,.MSTHEME-LABEL{
color:#FFFFFF;
}
FIELDSET{
border-color:#8A4A00;
color:#FFFFFF;
}
LEGEND{
color:#FFFFFF;
}
SELECT{
border-color:#F6CB99;
color:#000000;
}
TABLE{
table-border-color-light:#A55900;
table-border-color-dark:#8A4A00;
border-color:#8A4A00;
color:#FFFFFF;
}
CAPTION{
color:#FFFFFF;
}
TH{
color:#FFFFFF;
}
HR{
color:#8A4A00;
}
TD{
border-color:#8A4A00;
}
