vti_encoding:SR|utf8-nl
vti_author:SR|MAK\\administrator
vti_modifiedby:SR|MAK\\administrator
vti_timelastmodified:TR|21 Dec 2006 07:26:54 -0000
vti_timecreated:TR|21 Dec 2006 07:26:54 -0000
vti_cacheddtm:TX|21 Dec 2006 07:26:54 -0000
vti_filesize:IR|29838
vti_cachedlinkinfo:VX|S|poeglob.gif S|poetextb.gif S|poebul2d.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/poetic/poeglob.gif FSUS|_themes/poetic/poetextb.gif FSUS|_themes/poetic/poebul2d.gif FSUS|_themes/poetic/toolgrad.gif FSUS|_themes/poetic/dot.gif FSUS|_themes/poetic/toolgrad.gif FSUS|_themes/poetic/theme.css FSUS|_themes/poetic/blank.gif
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|_themes/poetic/theme.css
