.xs {
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 11px
}
.smlink {
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 11px
}
.spotlight {
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 11px
}
.subquote {
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 11px
}
.sm {
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 12px
}
.spotsubhd {
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 12px
}
.breadcrumb {
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 12px
}
.med {
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 13px
}
.bodycopy {
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 13px
}
.pullquote {
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 13px
}
.reg {
	FONT-FAMILY: arial,helvetica; FONT-SIZE: 14px
}
.blacklink {
	COLOR: black
}
.relatedlink {
	COLOR: black
}
.boxlink {
	COLOR: black
}
.boxlink {
	COLOR: black; FONT-SIZE: 11px
}
