BODY {
	SCROLLBAR-FACE-COLOR: #5c5e78; FONT-SIZE: 10px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #b8b8c9; SCROLLBAR-SHADOW-COLOR: #b8b8c9; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #737493; SCROLLBAR-ARROW-COLOR: #ff0000; SCROLLBAR-TRACK-COLOR: #737493; FONT-FAMILY: verdana,tahoma,sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #737493; BACKGROUND-COLOR: #737493; color-profile: sRGB; rendering-intent: auto background-attachment: scroll
}
TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 10px; BORDER-LEFT: 0px; COLOR: #000080; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana,tahoma,sans-serif
}
A {
	COLOR: #ff0000
}
INPUT {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: 1px; COLOR: #000000; BORDER-BOTTOM: 1px; FONT-FAMILY: verdana, Arial; BACKGROUND-COLOR: #babacd
}
TEXTAREA {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: 1px; COLOR: #000000; BORDER-BOTTOM: 1px; FONT-FAMILY: verdana, Arial; BACKGROUND-COLOR: #babacd
}
SELECT {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: 1px; COLOR: #000000; BORDER-BOTTOM: 1px; FONT-FAMILY: verdana, Arial; BACKGROUND-COLOR: #babacd
}
.mehmet {
	BORDER-RIGHT: 5px; BORDER-TOP: 5px; FONT-SIZE: 30px; BORDER-LEFT: 5px; COLOR: #ff0080; BORDER-BOTTOM: 5px; FONT-FAMILY: verdana,tahoma,sans-serif
}
.ilkharfbuyuk:first-letter {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; FLOAT: left; COLOR: #353860
}
.baslik99 {
	BORDER-RIGHT: #000000 thin solid; BORDER-TOP: #cccccc thin solid; FONT: bold 11px verdana,sans-serif; BORDER-LEFT: #cccccc thin solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 thin solid; BACKGROUND-COLOR: #336699
}
.baslik88 {
	BORDER-RIGHT: #000000 thin solid; BORDER-TOP: #cccccc thin solid; FONT: bold 10px verdana,sans-serif; BORDER-LEFT: #cccccc thin solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 thin solid; BACKGROUND-COLOR: #114477
}
.baslik77 {
	BORDER-RIGHT: #0000cc thin solid; BORDER-TOP: #0000cc thin solid; FONT: bold 11px verdana,sans-serif; BORDER-LEFT: #000075 thin solid; COLOR: #ffffff; BORDER-BOTTOM: #000075 thin solid; BACKGROUND-COLOR: #000080
}
.baslik66 {
	BORDER-RIGHT: #000000 thin solid; BORDER-TOP: #cccccc thin solid; FONT: bold 11px verdana,sans-serif; BORDER-LEFT: #cccccc thin solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 thin solid; BACKGROUND-COLOR: #336699
}
.baslik55 {
	BORDER-RIGHT: #000000 thin solid; BORDER-TOP: #cccccc thin solid; FONT: bold 11px verdana,sans-serif; BORDER-LEFT: #cccccc thin solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 thin solid; BACKGROUND-COLOR: #336699
}
.baslik44 {
	BORDER-RIGHT: #000000 thin solid; BORDER-TOP: #cccccc thin solid; FONT: bold 11px verdana,sans-serif; BORDER-LEFT: #cccccc thin solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 thin solid; BACKGROUND-COLOR: #336699
}
.baslik33 {
	BORDER-RIGHT: #000000 thin solid; BORDER-TOP: #cccccc thin solid; FONT: bold 11px verdana,sans-serif; BORDER-LEFT: #cccccc thin solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 thin solid; BACKGROUND-COLOR: #336699
}
.baslik22 {
	BORDER-RIGHT: #000000 thin solid; BORDER-TOP: #cccccc thin solid; FONT: bold 11px verdana,sans-serif; BORDER-LEFT: #cccccc thin solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 thin solid; BACKGROUND-COLOR: #336699
}
.baslik11 {
	BORDER-RIGHT: #000000 thin solid; BORDER-TOP: #cccccc thin solid; FONT: bold 11px verdana,sans-serif; BORDER-LEFT: #cccccc thin solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 thin solid; BACKGROUND-COLOR: #336699
}
.cizgi {
	FONT-SIZE: 10px; BACKGROUND: #bebece; FONT-FAMILY: verdana
}
.mesaj {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #800000; FONT-FAMILY: courier New, Arial
}
.1n {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial
}
.2n {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Arial
}
.3n {
	FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: Verdana, Arial
}
.4n {
	FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: Verdana, Arial
}
.5n {
	FONT-SIZE: 24px; COLOR: #000000; FONT-FAMILY: Verdana, Arial
}
.6n {
	FONT-SIZE: 32px; COLOR: #000000; FONT-FAMILY: Verdana, Arial
}
.1l {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial
}
.2l {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial
}
.3l {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; FONT-FAMILY: Verdana, Arial
}
.4l {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: Verdana, Arial
}
.5l {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; FONT-FAMILY: Verdana, Arial
}
.6l {
	FONT-WEIGHT: bold; FONT-SIZE: 32px; FONT-FAMILY: Verdana, Arial
}
.1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial
}
.2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Arial
}
.3 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: Verdana, Arial
}
.4 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: Verdana, Arial
}
.5 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #000000; FONT-FAMILY: Verdana, Arial
}
.6 {
	FONT-WEIGHT: bold; FONT-SIZE: 32px; COLOR: #000000; FONT-FAMILY: Verdana, Arial
}
.text {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #336699; FONT-FAMILY: tahoma,sans-serif; TEXT-DECORATION: none
}
.tag {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffff00; FONT-FAMILY: tahoma,sans-serif; TEXT-DECORATION: none
}
.meh {
	FONT-SIZE: 12px; BACKGROUND: #bebece; FONT-FAMILY: verdana
}
.govdemetni {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
.alt {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
.baslik {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #f0f0f0; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.baslik24 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #a02306; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.baslik48 {
	FONT-WEIGHT: bold; FONT-SIZE: 48px; COLOR: #a02306; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.baslik18 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #a02306; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.baslik16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #a02306; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.baslik14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.baslik10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #a02306; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.kod {
	FONT-SIZE: 16px; COLOR: #7a7b98; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.kod1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #7a7b98; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.kod2 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #0000c0; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.yazi1 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: "Trebuchet MS", Geneva, Arial, sans-serif
}
.coloredheader {
	FONT-SIZE: 13pt; COLOR: #0033cc; FONT-FAMILY: arial, helvetica, sans-serif; font-weigh: bold
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.subhead {
	FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.bodytext {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.smaller {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.lightsmaller {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: arial, helvetica, sans-serif
}
.formtext {
	FONT-FAMILY: courier, monospace
}
.koyu {
	BACKGROUND-COLOR: #707890
}
.medium {
	BACKGROUND-COLOR: #cccccc
}
.light {
	COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
DIV {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
A:link {
	COLOR: #2b30fd; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #262b88; TEXT-DECORATION: none
}
A:hover {
	COLOR: #bf0c03; TEXT-DECORATION: none
}
IMG {
	color-profile: auto; rendering-intent: auto
}
OBJECT {
	color-profile: auto; rendering-intent: auto
}
.titletext {
	FONT-SIZE: 10pt; COLOR: #ff6600; FONT-FAMILY: arial, helvetica, sans-serif
}
.bluetext {
	FONT-SIZE: 10pt; COLOR: #3366cc; FONT-FAMILY: arial, helvetica, sans-serif
}
.whiteheader {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif
}
.bwheader {
	FONT-SIZE: 13pt; FONT-FAMILY: arial, helvetica, sans-serif; font-weigh: bold
}
.whitetext {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif
}
.tdtext {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif
}
.beyazbaslik {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif
}
.bwsmall {
	FONT-SIZE: 9pt; FONT-FAMILY: arial, helvetica, sans-serif
}
.kucukbeyaz {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif
}
.bwsmaller {
	FONT-SIZE: 11px; FONT-FAMILY: arial, helvetica, sans-serif
}
.error {
	FONT: bold 11pt verdana, helvetica, sans-serif; COLOR: #aa0000
}
.black {
	BACKGROUND-COLOR: #000000
}
.darker {
	BACKGROUND-COLOR: #3366cc
}
.dark {
	BACKGROUND-COLOR: #3366cc
}
.yellow {
	BACKGROUND-COLOR: #ffcc33
}
.lightyellow {
	BACKGROUND-COLOR: #fff6c0
}
.lighteryellow {
	BACKGROUND-COLOR: #fff6c0
}
.white {
	BACKGROUND-COLOR: #ffffff
}
.button {
	BORDER-RIGHT: #000000 thin solid; BORDER-TOP: #cccccc thin solid; FONT: bold 11px verdana,sans-serif; BORDER-LEFT: #cccccc thin solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 thin solid; BACKGROUND-COLOR: #336699
}
.bbdropdown {
	FONT: bold 11px verdana, sans-serif; WIDTH: 100px; COLOR: #000000
}
.bbgonder {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: white; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Verdana, SunSans-Regular; BACKGROUND-COLOR: #7a7b98
}
.bbverigir {
	BORDER-RIGHT: #4e6b09 1px solid; BORDER-TOP: #4e6b09 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #4e6b09 1px solid; COLOR: white; BORDER-BOTTOM: #4e6b09 1px solid; FONT-FAMILY: Verdana, SunSans-Regular; BACKGROUND-COLOR: #75a50d
}
.bb-buton {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: white; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Thaoma, Arial, Verdana, SunSans-Regular; BACKGROUND-COLOR: #7a7b98
}
.bbgonder1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #000000 1px solid; CURSOR: hand; COLOR: white; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, SunSans-Regular; BACKGROUND-COLOR: #7a7b98
}
